body{
    
    background-color: rgb(201, 234, 234);
    background-size: cover;
}
.tasklistdiv {
  margin-top: 20px; 
  width: 100%;
}
.home .tasktable{
    width: 80%;
    margin-top: 10px;
    border-collapse: collapse;
    
    
  }
.home.tasktable td:hover{
    background-color: greenyellow;
    cursor: pointer;
  }
  
  
.home .tasktable th
  {
    padding: 20px 20px; 
    
    text-align: center;
    background-color: lightblue;
    border:1px solid white;
  
  }
  
.home .tasktable td{
    padding: 16px 20px; 
    text-align: left;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px grey;
    
  }

  